<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <p style="text-align: center;"><img src="https://wasiblo.net/wp-content/uploads/rogo-min-630x210.jpg" alt="" width="630" height="210" class="aligncenter size-medium wp-image-6598" /></p>
<h2 style="text-align: center;">ライトニング決済で他人の家のカーテンを勝手に開けよう！β版</h2>
<hr />
<h2 style="text-align: center;"></h2>
    <p>Welcome to<%= title %></p>
    <%- embed %>
    <p>
      <a href="/pay" target="_blank">Pay <%= minPayment %> <%= currency %> Lightning</a>
    </p>
  </body>
</html>
