<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <center><p>ライトニング決済で他人の家のカーテンを開けてみよう実験！<%= title %></p></center>
    <%- embed %>
    <p>
      <a href="/pay" target="_blank">Pay <%= minPayment %> <%= currency %> ライトニング決済</a>
    </p>
  </body>
</html>
